# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# React
node_modules/
build/

# VSCode
.vscode/


db.sqlite3
test1project/db.sqlite3
media/
test1project/media/
